$font-active: #9f83ff;

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'VT323', monospace;
  background: #000;
  font-size: 18px;
  color: #fff;
}

a {
  color: #813fbd;
  text-decoration: none;
  cursor: pointer;
  
  &:hover {
    color: #3b298d;
  }
}

.kitty-grid {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.kitty-card {
  position: relative;
  overflow: hidden;
  width: 50vw;
  height: 50vw;
  will-change: transform;
  transition: transform 0.3s;

  &:hover {
    transform: scale3d(1.05,1.05,1.0);
    z-index: 2;
  }

  &:hover .kitty-meta {
    transform: translate3d(0,calc(-100% - 5px),0);
  }

  &:hover .kitty-name {
    transform: translate3d(0,30px,0);
  }

  &.is-for-sale::after {
    content:'';
    position: absolute;
    top: -20px;
    right: -20px;
    background: #00ff7c96;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
  }

  .kitty-image-error {
    color: rgb(255, 129, 129);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  .kitty-card {
    width: 25vw;
    height: 25vw;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .kitty-card {
    width: 20vw;
    height: 20vw;
  }

  .columns-7 .kitty-card {
    width: 14.2857142857vw;
    height: 14.2857142857vw;
  }

  .columns-6 .kitty-card {
    width: 16.66666vw;
    height: 16.66666vw;
  }

  .columns-5 .kitty-card {
    width: 20vw;
    height: 20vw;
  }

  .columns-4 .kitty-card {
    width: 25vw;
    height: 25vw;
  }

  .columns-3 .kitty-card {
    width: 33.3333vw;
    height: 33.3333vw;
  }

  .columns-2 .kitty-card {
    width: 50vw;
    height: 50vw;
  }

  .columns-1 .kitty-card {
    width: 100vw;
    height: 100vw;

    span {
      width: 100vw !important;
      height: 100vw !important;
    }
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .kitty-card {
    width: 16.6666vw;
    height: 16.6666vw;
  }

  .btn-settings {
    display: block !important;
  }
 }

// X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { 
//   .kitty-card {
//     width: 12.5vw;
//     height: 12.5vw;
//   }
//  }

// XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) { 
//   .kitty-card {
//     width: 12.5vw;
//     height: 12.5vw;
//   }
//  }


.kitty-name {
  position: absolute;
  display: flex;
  top: -30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 30px;
  z-index: 2;
  color: #fff;
  transform: translate3d(0,0,0);
  transition: transform 0.2s;
  background: #0008;
}

.kitty-price {
  color: #ffe865;
  // font-size: 110%;
}

.kitty-meta {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transform: translate3d(0,0,0);
  transition: transform 0.2s;

  a {
    max-height: 30px;
    font-family: inherit;
    background: #0009;
    border-radius: 20px;
    padding: 3px 10px;
    color: #fff;
  }
}

.btn-about {
  position: fixed;
  text-shadow: 2px 2px 0 #000;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  background: transparent;
  color: #fff;
  border: none;
  font-family: 'VT323', monospace;
  cursor: pointer;
  z-index: 100;
}

.btn-settings {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 40px;
  background: transparent;
  color: #fff;
  border: none;
  font-family: 'VT323', monospace;
  cursor: pointer;
  z-index: 100;
  display: none;
}

.kitty-settings {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 10px;
  font-size: 30px;
  text-shadow: 2px 2px 0 #000;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: -20px;
    left: -20px;
    right: 0;
    background: #000c;
    z-index: -1;
    filter: blur(30px);
  }

  a {
    color: #fff;

    &:hover {
      color: #ccc;
    }
  }

  .kitty-filter,
  .kitty-sort {
    display: flex;
    align-items: baseline;
  }

  .filter,
  .sort-by {
    padding: 0 0 0 10px;
    cursor: pointer;

    .descasc {
      display: none;
    }

    &.active {
      color: $font-active;

      .descasc {
        display: inline;
      }
    }
  }
}

.kitty-info {
  &.hidden {
    display: none;
  }

  h3 {
    font-size: 40px;
  }

  font-size: 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: #000c;
  color: #fff;

  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .floor-kitty {
    padding: 0 10px;
  }
}

.yamz__album__prev,
.yamz__album__next {
  z-index: 2 !important;
  max-width: 80px !important;
}

@media (orientation: landscape) {
  .yamz__highres {
    height: 100vh;
  }
  .yamz__wrapper.custom {
    flex-direction: row;
  }
  .custom__right {
    max-width: calc(60ch + 64px);
  }
  .custom .yamz__img-wrapper > img {
    max-width: calc(50vw - 64px) !important;
    max-height: calc(50vw - 64px) !important;
  }
}

@media (orientation: portrait) {
  .yamz__highres {
    width: 100vw;
  }
  .yamz__wrapper.custom {
    flex-direction: column;
  }
  .custom__right {
    max-width: 100%;
  }
  .custom .yamz__img-wrapper > img {
    max-height: 90vw !important;
    max-width: 90vw !important;
  }
}

.custom__left,
.custom__right {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
}
.custom__left {
  align-items: flex-end;
}

.custom .yamz__img-wrapper {
  margin: 0;
}
.custom .yamz__img-wrapper > img {
  max-width: calc(50vw - 64px);
}
.custom .yamz__caption {
  max-width: 50ch;
  height: auto;
}
.custom .yamz__caption p {
  font-size: 20px;
  font-weight: 400;
}
.custom h2 {
  font-size: 30px;
}

.custom .kitty-desc {
  font-size: 20px;
}

.custom .kitty-button {
  display: block;
  max-height: 30px;
  font-family: inherit;
  background: #fff;
  border-radius: 20px;
  padding: 5px 10px;
  color: #000;
  text-align: center;
  margin: 20px 0;
}

.columns-settings {
  overflow-wrap: break-word;

  span {
    display: block;
  }

  a {
    padding: 0 10px;
    cursor: pointer;
    color: #fff;

    &.active {
      color: #ffe865;
    }
  }
}